Host namenode
    HostName namenode
    User hadoop
    IdentityFile ~/.ssh/id_rsa
Host datanode1
    HostName datanode1
    User hadoop
    IdentityFile ~/.ssh/id_rsa
Host datanode2
    HostName datanode2
    User hadoop
    IdentityFile ~/.ssh/id_rsa