Host namenode
    HostName datanode1
    User hadoop
    IdentityFile ~/.ssh/hadoop_key    
Host datanode1
    HostName datanode1
    User hadoop
    IdentityFile ~/.ssh/hadoop_key
Host datanode2
    HostName datanode1
    User hadoop
    IdentityFile ~/.ssh/hadoop_key    